body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 1352px;
}

header {
    display: flex;
    /* justify-content: center; */
    min-height: 10vh;
    min-width: 100vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.1rem solid #A5A5A5;
    box-shadow: 0rem 0.001rem 0.6rem 0.2rem #A5A5A5;
}

#logo {
    justify-content: flex-start;
}

.main {
    min-width: 100vw;
    min-height: 90vh;
    background-image: url("../img/background.png");
    background-position: bottom;
    background-repeat: no-repeat;

}


.top_menu>ul>li {
    display: inline-block;
    height: 100%;
    margin-right: 2vw;
    text-transform: uppercase;
}

.top_menu>ul>li:last-of-type {
    margin-right: 0;
}

.top_menu>ul>li:hover {
    display: inline-block;
    margin-right: 2vw;
}