:root {
    /* sample of use:   color: var(--primary-color);    */
    --primary-color: #07ACE6;
    --secondary-color: #13253B;
    --third-color: #A5A5A5;
    --forth-color: #FB3B64;
    --five-color: #55DFB4;
    --seven-color: #F7F7F7;
    --eight-color: #08A6E4;
    --white-color: #FFF;
    --black-color: #000;
    --secondary-font: 'Raleway', sans-serif;
}

body {
    /* font-family: 'Raleway', sans-serif;  ->  secondary font*/
    font-family: 'Open Sans', sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* min-width: 1352px; -> zmienic ponizej*/
}

header {
    display: flex;
    min-height: 10vh;
    min-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, .5);
    border-bottom: 0.1rem solid #A5A5A5;
    box-shadow: 0rem 0.001rem 0.6rem 0.2rem #A5A5A5;
}

#logo {
    justify-content: flex-start;
    font-family: var(--secondary-font);
}

.main {
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; */
    min-width: 100%;
    min-height: 90vh;
    background-image: url("../img/background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 20vh;
    line-height: 4rem;

}

.top_menu>ul>li {
    display: inline-block;
    margin-right: 2vw;
    border-bottom: 0.1rem solid red;
}

.top_menu>ul>li:last-of-type {
    margin-right: 0;
}

.top_menu>ul>li>a {
    /* display: inline-block; */
    color: var(--black-color);
    text-transform: uppercase;
    text-decoration: none;
}

h1 {
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: bold;
}


.slider_button {
    width: 27rem;
    height: 4rem;
    font-weight: bold;
    color: var(--white-color);
    background-color: var(--eight-color);
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
}


/* .top_menu>ul>li>a:hover {
    color: var(--black-color);
    text-transform: uppercase;
    text-decoration: none;
} */